
NEXT_PUBLIC_SUPABASE_URL=https://zivxobhnlkjoznrhrrkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppdnhvYmhubGtqb3pucmhycmtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkzMTQwMjcsImV4cCI6MjA3NDg5MDAyN30.xOK_ZuN59JmOrqxRjPtgVefSHO41DkNeejpUrSNc7P4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppdnhvYmhubGtqb3pucmhycmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTMxNDAyNywiZXhwIjoyMDc0ODkwMDI3fQ.pAyEGl-5-1SlGdmkeqJLgb8EfyLPa1YNIz_LsEEHupk